# Node modules
node_modules/
acessos.md

# Build output
dist/
build/

# Environment variables
.env
.env.*.local
.env.local
.env.test
.env.production

# Npm
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Jest coverage
coverage/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Optional: ignore local database files
*.sqlite
*.db

# Optional: ignore IDE settings
.idea/
*.swp
