# Node.js
node_modules/
dist/
.env

# Npm
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Editor/IDE
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Testes
coverage/